<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef>Shop Name</th>
    <td mat-cell *matCellDef="let element">{{ element.author }}</td>
  </ng-container>

  <ng-container matColumnDef="page">
    <th mat-header-cell *matHeaderCellDef>CNIC</th>
    <td mat-cell *matCellDef="let element">{{ element.page }}</td>
  </ng-container>

  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef="let element">{{ element.rating }}</td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Phone Number</th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <!-- <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <i class="fas fa-user-edit text-success" placement="bottom" (click)="open(mymodal, element._id)"
              ngbTooltip="Edit Vendor"></i>
            <i class="fas fa-trash text-danger" (click)="delete(element._id)" placement="bottom"
              ngbTooltip="Delete Vendor"></i>
            <i class="fas fa-info-circle p-1 text-primary" (click)="ope(mymoda, element._id)" placement="bottom"
              ngbTooltip="Vendor Details"></i>
          </td>
        </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

